body {
    overflow: hidden;
}

.mdl-layout--fixed-header {
    z-index: 6;
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    /*background-image: url('../images/nightv2.png');*/
    background-color: teal;
}

/*.mdl-layout__header-row {*/
/*z-index: 3;*/
/*}*/

@supports (pointer-events: auto) {
    .mdl-layout__obfuscator {
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
        transition-property: none;
        visibility: hidden;
        pointer-events: none;
    }

    .mdl-layout__obfuscator.is-visible {
        position: fixed;
    }
}

.mdl-layout__drawer {
    position: fixed;
    z-index: 5;
}

.mdl-layout__drawer > .mdl-layout-title {
    top: 64px;
}

.mdl-layout__drawer > .mdl-navigation {
    position: relative;
    top: 64px;
}

.mdl-layout__drawer > .mdl-navigation > .mdl-navigation__link {
    position: relative;
}

.mdl-layout__content {
    left: 46px;
    margin-top: 0;;
    position: relative;
    height: 100%;
    float: right;
    /*z-index: 2;*/
    display: table;
    -webkit-transition: width 200ms;
}

.mdl-grid {
    position: relative;
    width: 80%;
}

.landmark-card.mdl-card {

    width: 100%;
    margin: 1% 1% 20px;
    height: 470px;
    -webkit-transition: all 0.3s linear 0s;
}

.landmark-card > .mdl-card__title {
    color: #fff;
    height: 300px;
    width: auto;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.landmark-card .mdl-card__supporting-text {
    z-index: 1;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 10% 10% 30%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.landmark-card:hover .mdl-card__title img {

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.landmark-card:hover .mdl-card__title {
    height: 30%;
}

.landmark-card .mdl-card__title img {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

.landmark-card .mdl-card__title {
    position: relative;
    height: 40%;
}

.landmark-card .mdl-card__title .mdl-card__title-text {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.landmark-card > .mdl-card__menu {
    color: #fff;
}

.landmark-card .mdl-card__actions {
    z-index: 2;
    position: absolute;
    bottom: 0;
}

#main_container {
    padding-top: 7%;
    overload: hidden;
}

dialog.register-form {
    background: transparent;
    width: 20%;
    height: 44%;
}


.register-form button {
    color: rgb(0, 0, 0);
}

.register-form .mdl-dialog__content {
    width: 368px;
}
.mdl-textfield__label {
	color: #404040!important;
}
::-webkit-scrollbar {
    display: none;
}
.mode_icon{
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
}
.switch{
    margin-right: 5px;
}